app/build/
app/app-release.apk
app/manifest-merger-release-report.txt
local.properties

.gradle
.idea/scopes/
.idea/workspace.xml
.idea/libraries
.DS_Store
captures


# Built application files
*.apk
*.ap_

# Files for the Dalvik VM
*.dex

# Java class files
*.class


# Log Files
*.log

#build folder
build/
